.Cart,
.logo {
  fill: white;
  max-width: 30%;
  margin: 0 auto;
}

.buttonHome,
.buttonCart {
  background-color: transparent;
  display: flex;
  border: none;
  height: 30px;
  margin: 10px;
  width: 100px;
}

.headerContainer {
  background-color: #78B269;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 98%;
}

.titleShop {
  color: white;
  text-transform: uppercase;
  letter-spacing: 25px;
  font-size: larger;
  margin: auto;
}
